.categoria {
  .post-preview {
    margin-bottom: 25px;
  }

  &__banner {
    position: relative;
    margin-bottom: 25px;
    height: 191px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 600px) {
      height: 227px;
    }
  }

  &__title {
    color: white;
    font-weight: 100;
    letter-spacing: 5px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    @include font-size(36);
  }
}
