.sticky {
  display: block;
}

.content-area {
  @extend %site-wrapper;
  padding-top: 15px;
}

.post {
  padding-bottom: 84px;

  &__title {
    margin-top: 40px;
    text-align: center;
    @include font-size(48);
    font-weight: 100;
    color: black;
    margin-bottom: 30px;
  }

  &__content {
    p {
      margin-bottom: 17px;
    }
  }
}
