$enable-rounded: false;
$btn-box-shadow: none;

// COLORS

:root {
  --tool-box: #520000;
  --black: #000000;
  --white: #ffffff;
  --grey-300: #e0e0e0;
  --grey-600: #5e5e5e;
}

$theme-colors: (
  "primary": #520000
);

$primary: #520000;
$gray-300: #e0e0e0;
$gray-600: #5e5e5e;
$body-bg: $gray-300;
$body-color: $black;

$color__background-screen: #f1f1f1;
$color__background-hr: $gray-600;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$link-color: $primary;
$link-hover-color: darken($primary, 15%);
$color__link: $primary;
$color__link-hover: $primary;
$color__text-main: $body-color;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// TYPOGRAPHY

$font-family-base: 'Catamaran', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$size__site-main: 100%;
$size__site-sidebar: 25%;

$font-size-base: 0.875rem;
$h1-font-size: 3.000rem;
$h2-font-size: 1.500rem;
$h3-font-size: 1.250rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;

$paragraph-margin-bottom: 1.563rem;
$headings-margin-bottom: 1.875rem;
$headings-font-weight: 100;

$hr-border-color: $black;

$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

$columns__margin: 3.8%;

// Buttons

$input-btn-padding-x: 1.875rem;
$input-btn-padding-y: 1.250rem;
$input-btn-font-size: 1rem;
$input-btn-padding-x-lg: 2.375rem;
$input-btn-padding-y-lg: 1rem;
$input-btn-font-size-lg: 1.250rem;

$btn-font-size: 1rem;
$btn-padding-x: 2.000rem;
$btn-padding-y: 1.125rem;
