.site-header {
  @extend %site-wrapper;

  .top {
    &--desktop {
      justify-content: flex-end;

      @media (max-width: 991.98px) {
        display: none;
      }
    }
  }

  .logo {
    margin-bottom: 56px;
    text-align: center;
  }

  .top-icons {
    padding-right: 15px;
    padding-top: 17px;
    position: relative;
    text-align: right;
    z-index: 1;

    &:before {
      background: url(images/bg-icons.png) center no-repeat;
      content: "";
      height: 86px;
      position: absolute;
      right: -74px;
      top: 0;
      width: 327px;
      z-index: -1;
    }

    &__social {
      list-style: none;
      margin: 0;
      margin-bottom: 7px;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 3px;
      }
    }

    &__links {
      color: white;
      font-size: 0.750em;
      font-weight: 300;

      a {
        color: white;
        text-transform: uppercase;
      }
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    text-align: center;

    .navbar {
      padding: 0;

      @media (max-width: 1199.98px) {
        display: inline-block;
      }

      &-nav {
        display: inline-block;
        margin-left: 0;
        padding: 0;
        width: 100%;

        &__item {
          display: inline-block;
        }

        &__link {
          color: #000;
          font-size: 1.250rem;
          font-weight: 300;
          padding-left: 20px;
          padding-right: 20px;
          text-transform: uppercase;
        }
      }
    }
  }

}
