.post-list {
  background-color: white;
  padding-bottom: 68px;
  @extend %site-wrapper;

  &__title {
    font-size: 3.000rem;
    font-weight: 100;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;

    a {
      text-decoration: none;
      color: #000;

      &:hover {
        text-decoration: none;
        color: #000;
      }
    }
  }
}

.see-more {
  position: relative;

  &__hr {
    position: absolute;
    top: -6px;
    width: 100%;
    z-index: 1;
  }

  &__link {
    background: white;
    color: black;
    font-weight: 300;
    margin-right: 55px;
    letter-spacing: 1px;
    padding: 0 16px;
    position: relative;
    z-index: 2;
  }
}
