.post-preview {
  display: inline-block;
  padding-bottom: 18px;
  position: relative;
  text-align: center;

  &__figure {
    align-items: center;
    display: flex;
    height: 233px;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 350px;

    &::before {
      background-color: rgba(0, 0, 0, 0.7);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
      opacity: 0;
      transition: all .2s ease-in-out;
    }

    img {
      height: 233px;
      object-fit: cover;
      transition: all .2s ease-in-out;
      width: 350px;
    }
  }

  &__title {
    font-size: 1.250em;
    margin-bottom: 0;
    margin-top: 10px;
  }

  &__link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    &:hover {
      &+.post-preview__figure {
        &::before {
          opacity: 1;
        }

        img {
          transform: scale(1.3);
        }

        &+.post-preview__title {
          text-decoration: underline;
        }
      }

    }
  }
}
