.search-form {
  display: inline-block;
  margin-left: 15px;

  @media (max-width: 1199.98px) {
    margin-left: 0;
  }

  &__input {
    border: solid black 2px !important;
    border-radius: 0 !important;
    border-right: none !important;
    color: $black !important;
    font-size: 0.750em !important;
    height: 25px !important;
    max-width: 120px !important;
    padding-left: 8px !important;

    &:focus {
      border-color: black !important;
      box-shadow: none !important;
    }
  }

  &__btn {
    background: transparent;
    border: solid black 2px;
    border-left: none;
    padding: 0 5px;
  }
}
